@mixin link {
  margin-top: 0.5vw;
  font-family: $ff, monospace;
  font-size: 1.4vw;
  line-height: 1.6vw;
  color: $black;
  font-weight: 200;
  text-decoration: none;
  position: relative;

  &::after {
    height: 0.7px;
    width: 100%;
    content: "";
    background: $black;
    position: absolute;
    bottom: -0.4vw;
    left: 0;
  }

  &:hover {
    background: $lg;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &::after {
      background: $lg;
    }
  }
}

@mixin line {
  background-color: $black;
  border-radius: 0.1vw;
}

@mixin dot {
  width: 1.5vw;
  height: 1.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $bg-main;

  & > .git-commit {
    height: auto;
    width: 1.8vw;
  }
}
