$border: solid 0.01vw #161616;
$border-dark: solid 0.1vw #989898;
$border-black: solid 0.05vw #161616;

// $bg-main: #ececec;
$bg-main: #fff;
$bg-body: #e4e4e4;
$bg-dark: #fff;
$black: #161616;
$branch: #afafaf;
$light-text: #737373;
$white: #fff;

$bs: #3e3e3e50;

$ff: "IBM Plex Mono";

$lg: linear-gradient(90deg, #ff0000, #8800ff);
