$border: solid 1px #e4e4e4;
$border-dark: solid 1px #989898;

$bg-main: #ececec;
$bg-dark: #e0e0e0;
$black: #161616;
$light-text: #737373;

$ff: "IBM Plex Mono";

$lg: linear-gradient(90deg, #ff0000, #8800ff);
