$border: solid 0.1vw #e4e4e4;
$border-dark: solid 0.1vw #989898;

$bg-main: #ececec;
$bg-dark: #e0e0e0;
$black: #161616;
$branch: #afafaf;
$light-text: #737373;
$white: #fff;

$bs: #3e3e3e50;

$ff: "IBM Plex Mono";

$lg: linear-gradient(90deg, #ff0000, #8800ff);
