.main {
  width: 100vw;
  height: 141.42vw;
  background-color: #ececec;
  font-family: "IBM Plex Mono", monospace;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "top top" "side info";
  -ms-grid-rows: 29vw 112.42vw;
      grid-template-rows: 29vw 112.42vw;
  -ms-grid-columns: 29vw 71vw;
      grid-template-columns: 29vw 71vw;
  color: #161616;
}

.icon {
  max-height: 1vw;
}

.info-block-exp {
  position: relative;
}

.info-block-title {
  font-weight: 600;
  font-size: 2.5vw;
  text-align: center;
  margin: 3vw 0;
}

.bold {
  font-weight: 600;
}

.link {
  margin-top: 0.5vw;
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.4vw;
  line-height: 1.6vw;
  color: #161616;
  font-weight: 200;
  text-decoration: none;
  position: relative;
}

.link::after {
  height: 0.7px;
  width: 100%;
  content: "";
  background: #161616;
  position: absolute;
  bottom: -0.4vw;
  left: 0;
}

.link:hover {
  background: -webkit-gradient(linear, left top, right top, from(#ff0000), to(#8800ff));
  background: linear-gradient(90deg, #ff0000, #8800ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link:hover::after {
  background: -webkit-gradient(linear, left top, right top, from(#ff0000), to(#8800ff));
  background: linear-gradient(90deg, #ff0000, #8800ff);
}

.top-section {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: top;
  background-color: #e0e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-section .img {
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  -o-object-position: 0 0;
     object-position: 0 0;
  padding: 2vw;
}

.top-section .header {
  width: 71vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top-section .header .name {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-size: 2.8vw;
}

.top-section .header .title {
  margin-top: 0.5vw;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  font-size: 1.42vw;
}

.side-section {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: side;
  border-right: solid 0.1vw #e4e4e4;
}

.side-section .sub-section {
  border-bottom: solid 0.1vw #e4e4e4;
  padding: 2vw;
}

.side-section .sub-section .sub-section-title {
  font-size: 2.5vw;
  line-height: 2.5vw;
  font-family: "IBM Plex Mono", monospace;
  color: #737373;
}

.side-section .sub-section .sub-section-title-2 {
  font-size: 1.3vw;
  line-height: 1.45vw;
  display: block;
  margin-top: 1vw;
  font-family: "IBM Plex Mono", monospace;
  color: #737373;
  font-weight: 200;
}

.side-section .sub-section .info-list {
  color: #737373;
}

.side-section .sub-section .info-list .info-list-item {
  position: relative;
  margin-top: 1.2vw;
  height: 1.8vw;
  font-family: "IBM Plex Mono", monospace;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.side-section .sub-section .info-list .info-list-item .info-link {
  margin-top: 0.5vw;
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.4vw;
  line-height: 1.6vw;
  color: #161616;
  font-weight: 200;
  text-decoration: none;
  position: relative;
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.6vw;
  line-height: 1.8vw;
  text-decoration: none;
  color: #737373;
  margin-left: 1vw;
}

.side-section .sub-section .info-list .info-list-item .info-link::after {
  height: 0.7px;
  width: 100%;
  content: "";
  background: #161616;
  position: absolute;
  bottom: -0.4vw;
  left: 0;
}

.side-section .sub-section .info-list .info-list-item .info-link:hover {
  background: -webkit-gradient(linear, left top, right top, from(#ff0000), to(#8800ff));
  background: linear-gradient(90deg, #ff0000, #8800ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.side-section .sub-section .info-list .info-list-item .info-link:hover::after {
  background: -webkit-gradient(linear, left top, right top, from(#ff0000), to(#8800ff));
  background: linear-gradient(90deg, #ff0000, #8800ff);
}

.side-section .sub-section .info-list .info-list-item .info-link::after {
  display: none;
}

.side-section .sub-section .info-list .info-list-item .small-text {
  font-size: 1vw;
  line-height: 1vw;
}

.side-section .sub-section .info-list .info-list-item .no-hover:hover {
  background: #737373;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.side-section .sub-section .info-list .small-margin {
  margin-top: 0.86vw;
}

.side-section .no-border {
  border-bottom: unset;
}

.info-section {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: info;
  padding: 0 2vw 2vw;
  font-weight: 200;
  font-size: 1.42vw;
  line-height: 1.8vw;
}

.info-section .paragraph {
  margin-bottom: 1.5vw;
}

.info-section .exp-wrapper {
  position: relative;
  width: 100%;
  height: 35.5vw;
}

.info-section .line {
  background-color: #161616;
  border-radius: 0.1vw;
}

.info-section .line-first {
  position: absolute;
  top: 0;
  left: calc(50% - 4.5vw);
  width: 0.15vw;
  height: 8vw;
}

.info-section .line-split {
  position: absolute;
  top: 7.8vw;
  left: calc(50% - 4.5vw);
  width: 9vw;
  height: 0.15vw;
}

.info-section .line-left {
  position: absolute;
  top: 7.8vw;
  left: calc(50% - 4.5vw);
  width: 0.15vw;
  height: 28vw;
}

.info-section .line-right {
  position: absolute;
  top: 7.8vw;
  left: calc(50% + 4.4vw);
  width: 0.15vw;
  height: 28vw;
}

.info-section .dot {
  width: 1.5vw;
  height: 1.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ececec;
}

.info-section .dot > .git-commit {
  height: auto;
  width: 1.8vw;
}

.info-section .dot-one {
  position: absolute;
  left: calc(50% - 5.15vw);
  top: 2.8vw;
}

.info-section .dot-two {
  position: absolute;
  left: calc(50% + 3.75vw);
  top: 12.8vw;
}

.info-section .dot-three {
  position: absolute;
  left: calc(50% + 3.75vw);
  top: 24.8vw;
}

.info-section .dot-four {
  position: absolute;
  left: calc(50% - 5.15vw);
  top: 10vw;
}

.info-section .dot-five {
  position: absolute;
  left: calc(50% - 5.15vw);
  top: 17vw;
}

.info-section .dot-six {
  position: absolute;
  left: calc(50% - 5.15vw);
  top: 24vw;
}

.info-section .dot-seven {
  position: absolute;
  left: calc(50% - 5.15vw);
  top: 31vw;
}

.info-section .info-block-branch-wrapper-2 {
  top: -0.5vw;
  right: 0;
}

.info-section .info-block-branch-wrapper-1 {
  top: -0.5vw;
  left: 0;
}

.info-section .info-block-branch-wrapper {
  position: absolute;
  border-radius: 0.4vw;
  padding: 0.6vw;
  background-color: #afafaf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 0.1vw #fff;
  font-weight: 600;
}

.info-section .info-block-branch-wrapper .branch-name-value {
  color: #fff;
}

.info-section .info-block-branch-wrapper .branch-img {
  height: 2vw;
}

.info-section .exp-item {
  position: absolute;
  top: 8vw;
  border: solid 0.1vw #fff;
  border-radius: 0.4vw;
  padding: 0.6vw;
  font-size: 1.2vw;
  line-height: 1.4vw;
}

.info-section .exp-item .key {
  font-weight: 600;
}

.info-section .exp-item-1 {
  left: 0;
  top: 4.5vw;
  width: 26vw;
}

.info-section .exp-item-2 {
  left: 0;
  top: 12vw;
  width: 26vw;
}

.info-section .exp-item-3 {
  left: 0;
  top: 19vw;
  width: 26vw;
}

.info-section .exp-item-4 {
  top: 26vw;
  left: 0;
  width: 26vw;
}

.info-section .exp-item-5 {
  left: 0;
  top: 33vw;
  width: 26vw;
}

.info-section .exp-item-6 {
  right: 0;
  top: 14.5vw;
  width: 26vw;
}

.info-section .exp-item-7 {
  right: 0;
  top: 26.5vw;
  width: 26vw;
}
/*# sourceMappingURL=index.css.map */